
    <% @announcements.each_with_index do |a, index| %>

        <div class="">

	          
        </div>
			  <li class="lazy-bg" data-background="<%=a.photo%>">
						<div class="container">
								<h2 class="slide-title">  <%=a.title.to_s.html_safe %></h2>
								<h3 class="slide-subtitle">     <%=a.message.to_s.html_safe %> </h3>
								<p class="slide-desc hidden-xs"><%=a.text.to_s%></p>

								<a href="<%=a.link.to_s.html_safe%>" class="button cut-corner">Mehr lesen</a>
						</div>
				</li>
<% end %>

</div>
